{# Resources/views/layout4.html.twig #}
{% block bootstrapFormTheme %}
    {% if (form is defined) %}
        {% form_theme form "bootstrap_4_layout.html.twig" %}
    {% endif %}
{% endblock %}
<!DOCTYPE html>
<html>
    <head>
        {% block bootstrapStylesheets %}
            {% include "@WBWCore/layout/stylesheet/fontawesome.html.twig" %}
            {% include "@WBWBootstrap/layout/stylesheet/bootstrap.html.twig" with {"bootstrapVersion": bootstrapVersion|default("")} %}
            {% include "@WBWBootstrap/layout/stylesheet/twig-console.html.twig" %}
        {% endblock %}
        {% block bootstrapFavicons %}
            <!-- Favicons -->
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-57x57.png") }}" sizes="57x57">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-60x60.png") }}" sizes="60x60">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-72x72.png") }}" sizes="72x72">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-76x76.png") }}" sizes="76x76">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-114x114.png") }}" sizes="114x114">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-120x120.png") }}" sizes="120x120">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-144x144.png") }}" sizes="144x144">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-152x152.png") }}" sizes="152x152">
            <link rel="apple-touch-icon" href="{{ asset("bundles/wbwbootstrap/favicons/apple-icon-180x180.png") }}" sizes="180x180">
            <link rel="icon" type="image/png" href="{{ asset("bundles/wbwbootstrap/favicons/favicon-16x16.png") }}" sizes="16x16">
            <link rel="icon" type="image/png" href="{{ asset("bundles/wbwbootstrap/favicons/favicon-32x32.png") }}" sizes="32x32">
            <link rel="icon" type="image/png" href="{{ asset("bundles/wbwbootstrap/favicons/favicon-96x96.png") }}" sizes="96x96">
            <link rel="icon" type="image/png" href="{{ asset("bundles/wbwbootstrap/favicons/android-icon-192x192.png") }}" sizes="192x192">
            <link rel="manifest" href="{{ asset("bundles/wbwbootstrap/favicons/manifest.json") }}">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="{{ asset("bundles/wbwbootstrap/favicons/ms-icon-144x144.png") }}">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block bootstrapTitle %}{% endblock %}</title>
    </head>
    <body{% block bootstrapAttributes %}{% endblock %}>
        {% block bootstrapContainer %}
        {% endblock %}
        <div id="asynchronous-output"></div>
        {% block bootstrapJavascripts %}
            {% include "@WBWCore/layout/javascript/fontawesome.html.twig" %}
            {% include "@WBWCore/layout/javascript/jquery.html.twig" %}
            {% include "@WBWBootstrap/layout/javascript/popper.js.html.twig" %}
            {% include "@WBWBootstrap/layout/javascript/bootstrap.html.twig" with {"bootstrapVersion": bootstrapVersion|default("")} %}
            {% include "@WBWBootstrap/layout/javascript/twig-console.html.twig" %}
        {% endblock %}
    </body>
</html>
