{# Resources/views/layout.html.twig #}
{% block bootstrapFormTheme %}

    {% set _appVersion = getContainerParameter("wbw_bootstrap.version") %}

    {% if (form is defined) %}
        {% form_theme form "bootstrap_" ~ _appVersion ~ "_layout.html.twig" %}
    {% endif %}
{% endblock %}
<!DOCTYPE html>
<html>
    <head>
        {% block bootstrapFavicons %}
            {% set _webPath = "bundles/wbwbootstrap" %}
            {% if ("prod" != app.environment) %}<!-- Favicons -->{% endif %}
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-57x57.png") }}" sizes="57x57">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-60x60.png") }}" sizes="60x60">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-72x72.png") }}" sizes="72x72">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-76x76.png") }}" sizes="76x76">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-114x114.png") }}" sizes="114x114">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-120x120.png") }}" sizes="120x120">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-144x144.png") }}" sizes="144x144">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-152x152.png") }}" sizes="152x152">
            <link rel="apple-touch-icon" href="{{ asset(_webPath ~ "/favicons/apple-icon-180x180.png") }}" sizes="180x180">
            <link rel="icon" type="image/png" href="{{ asset(_webPath ~ "/favicons/favicon-16x16.png") }}" sizes="16x16">
            <link rel="icon" type="image/png" href="{{ asset(_webPath ~ "/favicons/favicon-32x32.png") }}" sizes="32x32">
            <link rel="icon" type="image/png" href="{{ asset(_webPath ~ "/favicons/favicon-96x96.png") }}" sizes="96x96">
            <link rel="icon" type="image/png" href="{{ asset(_webPath ~ "/favicons/android-icon-192x192.png") }}" sizes="192x192">
            <link rel="manifest" href="{{ asset(_webPath ~ "/favicons/manifest.json") }}">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="{{ asset(_webPath ~ "/favicons/ms-icon-144x144.png") }}">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
        {% block bootstrapStylesheets %}
            {% include "@WBWCore/assets/stylesheets.html.twig" %}
            {% include "@WBWBootstrap/assets/stylesheets.html.twig" %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block bootstrapTitle %}{% endblock %}</title>
    </head>
    <body{% block bootstrapAttributes %}{% endblock %}>
        {% block bootstrapContainer %}
        {% endblock %}
        <div id="asynchronous-output"></div>
        {% block bootstrapJavascripts %}
            {% include "@WBWCore/assets/javascripts.html.twig" %}
            {% include "@WBWBootstrap/assets/javascripts.html.twig" %}
        {% endblock %}
    </body>
</html>
