{# Resources/views/Wiki/twig-extension/css/button.html.twig #}
{% extends "@WBWBootstrap/Wiki/layout.html.twig" %}

{% import "@WBWBootstrap/Wiki/macros.html.twig" as wiki %}

{% block bootstrapContent %}
    {{ wiki.functionsTitle() }}
    {{ wiki.functionsList([
        "bootstrapButtonDanger",
        "bootstrapButtonDefault",
        "bootstrapButtonInfo",
        "bootstrapButtonPrimary",
        "bootstrapButtonSuccess",
        "bootstrapButtonWarning",
    ]) }}
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapButtonDanger") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "title", "the title"],
                ["string", "size", "the size"],
                ["boolean", "block", "block? (false by default)"],
                ["boolean", "active", "active? (false by default)"],
                ["boolean", "disable", "disable? (false by default)"],
                ["string", "icon", "the icon (Glyphicon by default|Font Awesome|Material Design Iconic Font)"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapButtonDanger({"content": "content", "title": "title", "size": "lg", "block": true, "active": true, "disable": true, "icon": "asterisk"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonDanger({"content": "content", "title": "title", "size": "lg", "block": true, "active": true, "disable": true, "icon": "asterisk"})) }}
            {{ wiki.functionExample('{{ bootstrapButtonDanger({"content": "content", "icon": "g:asterisk"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonDanger({"content": "content", "icon": "g:asterisk"})) }}
            {{ wiki.functionExample('{{ bootstrapButtonDanger({"content": "content", "icon": "fa:address-book"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonDanger({"content": "content", "icon": "fa:address-book"})) }}
            {{ wiki.functionExample('{{ bootstrapButtonDanger({"content": "content", "icon": "zmdi:8tracks"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonDanger({"content": "content", "icon": "zmdi:8tracks"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapButtonDefault") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "title", "the title"],
                ["string", "size", "the size"],
                ["boolean", "block", "block? (false by default)"],
                ["boolean", "active", "active? (false by default)"],
                ["boolean", "disable", "disable? (false by default)"],
                ["string", "icon", "the icon"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapButtonDefault({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonDefault({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapButtonInfo") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "title", "the title"],
                ["string", "size", "the size"],
                ["boolean", "block", "block? (false by default)"],
                ["boolean", "active", "active? (false by default)"],
                ["boolean", "disable", "disable? (false by default)"],
                ["string", "icon", "the icon"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapButtonInfo({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonInfo({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapButtonPrimary") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "title", "the title"],
                ["string", "size", "the size"],
                ["boolean", "block", "block? (false by default)"],
                ["boolean", "active", "active? (false by default)"],
                ["boolean", "disable", "disable? (false by default)"],
                ["string", "icon", "the icon"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapButtonPrimary({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonPrimary({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapButtonSuccess") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "title", "the title"],
                ["string", "size", "the size"],
                ["boolean", "block", "block? (false by default)"],
                ["boolean", "active", "active? (false by default)"],
                ["boolean", "disable", "disable? (false by default)"],
                ["string", "icon", "the icon"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapButtonSuccess({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonSuccess({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapButtonWarning") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "title", "the title"],
                ["string", "size", "the size"],
                ["boolean", "block", "block? (false by default)"],
                ["boolean", "active", "active? (false by default)"],
                ["boolean", "disable", "disable? (false by default)"],
                ["string", "icon", "the icon"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapButtonWarning({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapButtonWarning({"content": "content"})) }}
        </div>
    </div>
{% endblock %}
