{# Resources/views/layout/twig-console.html.twig #}
{% set _version = getContainerParameter("wbw_bootstrap.version") %}
{% set _console = {
    "rowClass"    : (3 == _version ? "row clearfix" : "row"),
    "panelClass"  : (3 == _version ? "panel" : "card"),
    "headingClass": (3 == _version ? "panel-heading" : "card-header"),
    "titleTag"    : (3 == _version ? "h3" : "div"),
    "titleClass"  : (3 == _version ? "panel-title" : "card-title"),
    "bodyClass"   : (3 == _version ? "panel body" : "card-body"),
    "bodyStyle"   : (3 == _version ? "margin: 10px 10px 0px 10px;" : "padding: 16px 16px 0px 16px;"),
} %}
<div class="{{ _console.rowClass }}" id="twig-console">
    <div class="{{ bootstrapGrid({"lg": 12, "recopy": true}) }}">
        <div class="{{ _console.panelClass }}" style="background-color: #9E9E9E;">
            <div class="{{ _console.headingClass }}" id="twig-title" style="background-color: #000000; color: #FFFFFF;">
                <{{ _console.titleTag }} class="{{ _console.titleClass }}">{{ fontAwesomeIcon({"name": "terminal"}) }} TWIG CONSOLE
            </{{ _console.titleTag }}>
        </div>
        <div class="{{ _console.bodyClass }}" id="twig-context" style="background-color: #9E9E9E; display: none; {{ _console.bodyStyle }}">
            {{ dump(_context) }}
        </div>
    </div>
</div>
