{# Resources/views/Wiki/twig-extension/typography/heading.html.twig #}
{% extends "@Bootstrap/Wiki/layout.html.twig" %}
{% import "@Bootstrap/Wiki/macros.html.twig" as wiki %}
{% block bootstrapWikiContent %}
    {{ wiki.functionsTitle() }}
    {{ wiki.functionsList([
        "bootstrapHeading1",
        "bootstrapHeading2",
        "bootstrapHeading3",
        "bootstrapHeading4",
        "bootstrapHeading5",
        "bootstrapHeading6",
    ]) }}
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapHeading1") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "description", "the description"],
                ["string", "class", "the CSS class"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapHeading1({"content": "content", "description": "description", "class": "class"}) }}') }}
            {{ wiki.functionOutput(bootstrapHeading1({"content": "content", "description": "description", "class": "class"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapHeading2") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "description", "the description"],
                ["string", "class", "the CSS class"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapHeading2({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapHeading2({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapHeading3") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "description", "the description"],
                ["string", "class", "the CSS class"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapHeading3({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapHeading3({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapHeading4") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "description", "the description"],
                ["string", "class", "the CSS class"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapHeading4({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapHeading4({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapHeading5") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "description", "the description"],
                ["string", "class", "the CSS class"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapHeading5({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapHeading5({"content": "content"})) }}
        </div>
    </div>
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapHeading6") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
                ["string", "description", "the description"],
                ["string", "class", "the CSS class"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapHeading6({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapHeading6({"content": "content"})) }}
        </div>
    </div>
{% endblock %}
