{# Resources/views/Wiki/twig-extension/typography/marked.html.twig #}
{% extends "@Bootstrap/Wiki/layout.html.twig" %}
{% import "@Bootstrap/Wiki/macros.html.twig" as wiki %}
{% block bootstrapWikiContent %}
    {{ wiki.functionsTitle() }}
    {{ wiki.functionsList([
        "bootstrapMarked",
    ]) }}
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapMarked") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapMarked({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapMarked({"content": "content"})) }}
        </div>
    </div>
{% endblock %}
