{# Resources/views/Wiki/twig-extension/component/badge.html.twig #}
{% extends "@WBWBootstrap/Wiki/layout.html.twig" %}

{% import "@WBWBootstrap/Wiki/macros.html.twig" as wiki %}

{% block bootstrapContent %}
    {{ wiki.functionsTitle() }}
    {{ wiki.functionsList([
        "bootstrapBadge",
    ]) }}
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapBadge") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapBadge({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapBadge({"content": "content"})) }}
        </div>
    </div>
{% endblock %}
