{# Resources/views/Wiki/twig-extension/code/basic-block.html.twig #}
{% extends "@Bootstrap/Wiki/layout.html.twig" %}
{% import "@Bootstrap/Wiki/macros.html.twig" as wiki %}
{% block bootstrapWikiContent %}
    {{ wiki.functionsTitle() }}
    {{ wiki.functionsList([
        "bootstrapBasicBlock",
    ]) }}
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapBasicBlock") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "content", "the content"],
            ])}}
            {{ wiki.functionExample('{{ bootstrapBasicBlock({"content": "content"}) }}') }}
            {{ wiki.functionOutput(bootstrapBasicBlock({"content": "content"})) }}
        </div>
    </div>
{% endblock %}
