{# Resources/views/Wiki/twig-extension/utility/role-label.html.twig #}
{% extends "@WBWBootstrap/Wiki/layout.html.twig" %}

{% import "@WBWBootstrap/Wiki/macros.html.twig" as wiki %}

{% block bootstrapContent %}
    {{ wiki.functionsTitle() }}
    {{ wiki.functionsList([
        "bootstrapRoleLabel",
    ]) }}
    <div class="panel panel-default">
        {{ wiki.functionTitle("bootstrapRoleLabel") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["UserInterface", "user", "the user"],
                ["array", "roleColors", "the role colors"],
                ["array", "roleTrans", "the role translations"],
            ]) }}
            {{ wiki.functionExample('{{ bootstrapRoleLabel(user, userRoleColors, userRoleTrans) }}') }}
            {{ wiki.functionOutput(bootstrapRoleLabel(user, userRoleColors, userRoleTranslations)) }}
        </div>
    </div>
{% endblock %}
