{# Resources/views/Wiki/twig-extension/plugin/font-awesome.html.twig #}
{% extends "@WBWBootstrap/Wiki/layout.html.twig" %}

{% import "@WBWBootstrap/Wiki/macros.html.twig" as wiki %}

{% block bootstrapContent %}
    {{ wiki.functionsTitle() }}
    {{ wiki.functionsList([
        "fontAwesomeIcon",
    ]) }}
    <div class="panel panel-default">
        {{ wiki.functionTitle("fontAwesomeIcon") }}
        <div class="panel-body">
            {{ wiki.argumentsList([
                ["string", "font", "the font ('s'|'r'|'l'|'b')"],
                ["string", "name", "the name"],
                ["string", "size", "the size ('xs'|'sm'|'lg'|'2x'|'3x'|'4x'|'5x'|'6x'|'7x'|'8x'|'9x'|'10x')"],
                ["boolean", "fullWidth", "full width? (false by default)"],
                ["boolean", "bordered", "bordered? (false by default)"],
                ["string", "pull", "the pull ('left'|'right')"],
                ["string", "animated", "the animation ('spin'|'pulse')"],
                ["string", "style", "the style"],
            ]) }}
            {{ wiki.functionExample('{{ fontAwesomeIcon({"font": "s", "name": "address-book", "size": "2x", "fullWidth": true, "bordered": true, "pull": "right", "animated": "pulse", "style": "color: #337AB7;"}) }}') }}
            {{ wiki.functionOutput(fontAwesomeIcon({"font": "s", "name": "address-book", "size": "2x", "fullWidth": true, "bordered": true, "pull": "right", "animated": "pulse", "style": "color: #337AB7;"})) }}
            {{ wiki.functionExample('{{ fontAwesomeIcon({"font": "s", "name": "address-book", "size": "3x"}) }}') }}
            {{ wiki.functionOutput(fontAwesomeIcon({"font": "s", "name": "address-book", "size": "3x"})) }}
            {{ wiki.functionExample('{{ fontAwesomeIcon({"font": "r", "name": "address-book", "size": "3x"}) }}') }}
            {{ wiki.functionOutput(fontAwesomeIcon({"font": "r", "name": "address-book", "size": "3x"})) }}
            {{ wiki.functionExample('{{ fontAwesomeIcon({"font": "b", "name": "500px", "size": "3x"}) }}') }}
            {{ wiki.functionOutput(fontAwesomeIcon({"font": "b", "name": "500px", "size": "3x"})) }}
        </div>
    </div>
{% endblock %}
